<div class="da-list-wrap">
  <div class="da-content-banner">
    <d-breadcrumb>
      <d-breadcrumb-item
          ><a routerLink="/">Home</a></d-breadcrumb-item
        >
      <d-breadcrumb-item>Quản lý hồ sơ hủy</d-breadcrumb-item>
      <d-breadcrumb-item>Quản lý hồ sơ chờ hủy</d-breadcrumb-item>
    </d-breadcrumb>
    <div class="da-content-banner-title">Quản lý hồ sơ hủy</div>
    <div>Quản lý hồ sơ chờ hủy</div>
  </div>
  <div class="da-content-wrapper">
    <da-layout-row [daGutter]="[24, 24]">
      <da-col-item [daSpan]="24" [daXs]="24">
        <div class="da-list-container">
          <div class="da-list-header">
            <div class="da-header-left">
              <!-- <div class="da-header-item">
                <div class="da-header-item-label">Số/Ký hiệu hồ sơ:</div>
                <d-search
                  [size]="'sm'"
                  (searchFn)="search()"
                  [(ngModel)]="_search.profile_code"
                  class="da-inline"
                  [placeholder]="'Số/Ký hiệu hồ sơ'"
                ></d-search>
              </div> -->
              <div class="da-header-item">
                <div class="da-header-item-label">Tên hồ sơ:</div>
                <d-search
                [size]="'sm'"
                (searchFn)="search()"
                [(ngModel)]="_search.profile_name_l"
                class="da-inline"
                [placeholder]="'Tên hồ sơ'"
              ></d-search>
              </div>
              <div class="da-header-item">
                <select class="devui-form-control" name="" id="" [(ngModel)]="_search.active_flag" (change) = "search()">
                  <option class="devui-form-control devui-dropdown-item" value="1">Đang chờ hủy</option>
                  <option class="devui-form-control devui-dropdown-item" value="0">Đã xóa khỏi biên bản hủy</option>
                </select>
              </div>
              
            </div>
            <div class="header-right">
              <!-- <d-button (click)="addRow()" style="margin-right: 8px">Thêm sản phẩm</d-button> -->
              <d-button (click)="reset()" bsStyle="common" style="margin-right: 8px">Reset</d-button>
              <!-- <d-button (click)="batchDelete(deleteList)" bsStyle="danger" [disabled]="!deleteList.length">Xóa hàng loạt</d-button> -->
            </div>
          </div>
          <br />
          <div class="list-content" dLoading [loading]="busy">
            <d-data-table
              #datatable
              [dataSource]="basicDataSource"
              [borderType]="searchForm.borderType"
              [size]="searchForm.size"
              [tableLayout]="searchForm.layout"
              [scrollable]="true"
              (checkAllChange)="onCheckAllChange()"
            >
              <thead dTableHead [checkable]="true">
                <tr dTableRow>
                  <th dHeadCell>STT</th>
                  <th dHeadCell>Tên hồ sơ</th>
                  <th dHeadCell>Số hồ sơ</th>
                  <th dHeadCell>Số ký hiệu văn bản</th>
                  <th dHeadCell>Người thực hiện</th>
                  <th dHeadCell>Lý do hủy</th>
                  <th dHeadCell>Trạng thái</th>
                  <th dHeadCell>Tác vụ</th>
                </tr>
              </thead>
              <tbody dTableBody>
                <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex" let-nestedIndex="nestedIndex">
                  <tr dTableRow [ngClass]="{ 'table-row-selected': rowItem.$checked }">
                    <td dTableCell class="devui-checkable-cell">
                      <d-checkbox
                        (ngModelChange)="onRowCheckChange($event, rowIndex, nestedIndex, rowItem)"
                        [ngModel]="rowItem.$checked"
                        [halfchecked]="rowItem.$halfChecked"
                        [disabled]="rowItem.$checkDisabled"
                        dTooltip
                        [content]="rowItem.$checkBoxTips"
                        [position]="['top', 'right', 'bottom', 'left']"
                        [showAnimation]="false"
                      >
                      </d-checkbox>
                    </td>
                    <td dTableCell>{{ rowIndex + 1 }}</td>
                    <td dTableCell>
                      {{ rowItem.profile_name_l }}
                    </td>
                    <td dTableCell>
                      {{ rowItem.profile_code }}
                    </td>
                    <td dTableCell>
                      {{ rowItem.cancellation_minutes_number }}
                    </td>
                    <td dTableCell>
                      {{ rowItem.full_name }}
                    </td>
                    <td dTableCell>
                      {{ rowItem.reason }}
                    </td>
                    <td dTableCell>
                      {{ _search.active_flag == 1 ? 'Đang chờ hủy' : 'Đã xóa khỏi biên bản hủy'  }}
                    </td>
                    <td dTableCell>
                      <div class="btn-group over-flow-ellipsis">
                        <!-- <d-button
                          icon="icon-edit"
                          bsStyle="danger"
                          bsSize="xs"
                          title="edit"
                          shape="circle"
                          style="margin-right: 8px"
                          (btnClick)="editRow(rowIndex, rowItem.product_id)"
                        ></d-button> -->
                        <d-button *ngIf="_search.active_flag == 1" (btnClick)="batchDelete(rowItem)" icon="icon-remove" bsStyle="danger" bsSize="xs" title="Bỏ hủy tài liệu" shape="circle"></d-button>
                        <d-button *ngIf="_search.active_flag != 1" (btnClick)="batchDelete(rowItem)" icon="icon-start-use" bsStyle="primary" bsSize="xs" title="Bật hủy tài liệu" shape="circle"></d-button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </d-data-table>
          </div>
          <div class="da-list-footer">
            <d-pagination
              [size]="'sm'"
              [total]="pager.total"
              [(pageSize)]="pager.pageSize"
              [(pageIndex)]="pager.pageIndex"
              [canViewTotal]="true"
              [canChangePageSize]="true"
              [canJumpPage]="true"
              [maxItems]="5"
              (pageIndexChange)="onPageChange($event)"
              (pageSizeChange)="onSizeChange($event)"
            >
            </d-pagination>
          </div>
        </div>
      </da-col-item>
    </da-layout-row>
  </div>
</div>

<ng-template #EditorTemplate>

</ng-template>

