<div class="da-list-wrap">
  <div class="da-content-banner">
    <d-breadcrumb>
      <d-breadcrumb-item
        ><a routerLink="/">{{ 'list.breadcrumb.home' | translate }}</a></d-breadcrumb-item
      >
      <d-breadcrumb-item>Quản lý hồ sơ hủy</d-breadcrumb-item>
      <d-breadcrumb-item>Quản lý biên bản bàn giao hủy tài liệu</d-breadcrumb-item>
    </d-breadcrumb>
    <div class="da-content-banner-title">Quản lý hồ sơ hủy</div>
    <div>Quản lý biên bản bàn giao hủy tài liệu</div>
  </div>
  <div class="da-content-wrapper">
    <da-layout-row [daGutter]="[24, 24]">
      <da-col-item [daSpan]="24" [daXs]="24">
        <div class="da-list-container">
          <div class="da-list-header">
            <div class="da-header-left">
              <div class="da-header-item">
                <div class="da-header-item-label">Số/Ký hiệu biên bản:</div>
                <d-search
                  [size]="'sm'"
                  (searchFn)="search()"
                  [(ngModel)]="_search.handover_record_canceled_code"
                  class="da-inline"
                  [placeholder]="'Số/Ký hiệu biên bản'"
                ></d-search>
              </div>
              <div class="da-header-item">
                <div class="da-header-item-label">Tên biên bản:</div>
                <d-search
                [size]="'sm'"
                (searchFn)="search()"
                [(ngModel)]="_search.handover_record_canceled_name"
                class="da-inline"
                [placeholder]="'Tên biên bản'"
              ></d-search>
              </div>
            </div>
            <div class="header-right">
              <!-- <d-button (click)="addRow()" style="margin-right: 8px">Thêm sản phẩm</d-button> -->
              <d-button (click)="reset()" bsStyle="common" style="margin-right: 8px">Reset</d-button>
              <d-button (click)="batchDelete(deleteList)" bsStyle="danger" [disabled]="!deleteList.length">Xóa hàng loạt</d-button>
            </div>
          </div>
          <br />
          <div class="list-content" dLoading [loading]="busy">
            <d-data-table
              #datatable
              [dataSource]="basicDataSource"
              [borderType]="searchForm.borderType"
              [size]="searchForm.size"
              [tableLayout]="searchForm.layout"
              [scrollable]="true"
              (checkAllChange)="onCheckAllChange()"
            >
              <thead dTableHead [checkable]="true">
                <tr dTableRow>
                  <th dHeadCell>#</th>
                  <th dHeadCell>Số/Ký hiệu biên bản</th>
                  <th dHeadCell>Tên biên bản</th>
                  <th dHeadCell>Nơi bàn giao</th>
                  <th dHeadCell>Lý do bàn giao</th>
                  <th dHeadCell>Ghi chú</th>
                  <th dHeadCell>Người tạo</th>
                  <th dHeadCell>Tác vụ</th>
                </tr>
              </thead>
              <tbody dTableBody>
                <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex" let-nestedIndex="nestedIndex">
                  <tr dTableRow [ngClass]="{ 'table-row-selected': rowItem.$checked }">
                    <td dTableCell class="devui-checkable-cell">
                      <d-checkbox
                        (ngModelChange)="onRowCheckChange($event, rowIndex, nestedIndex, rowItem)"
                        [ngModel]="rowItem.$checked"
                        [halfchecked]="rowItem.$halfChecked"
                        [disabled]="rowItem.$checkDisabled"
                        dTooltip
                        [content]="rowItem.$checkBoxTips"
                        [position]="['top', 'right', 'bottom', 'left']"
                        [showAnimation]="false"
                      >
                      </d-checkbox>
                    </td>
                    <td dTableCell>{{ rowIndex + 1 }}</td>
                    <td dTableCell>
                      {{ rowItem.handover_record_canceled_code }}
                    </td>
                    <td dTableCell>
                      {{ rowItem.handover_record_canceled_name }}
                    </td>
                    <td dTableCell>
                      {{ rowItem.place }}
                    </td>
                    <td dTableCell>
                      {{ rowItem.reason }}
                    </td>
                    <td dTableCell>
                      {{ rowItem.handover_record_canceled_note}}
                    </td>
                    <td dTableCell>
                      {{ rowItem.full_name}}
                    </td>
                    <td dTableCell>
                      <div class="btn-group over-flow-ellipsis">
                        <d-button
                          icon="icon-edit"
                          bsStyle="danger"
                          bsSize="xs"
                          title="edit"
                          shape="circle"
                          style="margin-right: 8px"
                          (btnClick)="editRow(rowIndex, rowItem.handover_record_canceled_rcd)"
                        ></d-button>
                        <d-button (btnClick)="batchDelete([rowItem])" icon="icon-delete" bsStyle="danger" bsSize="xs" title="delete" shape="circle"></d-button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </d-data-table>
          </div>
          <div class="da-list-footer">
            <d-pagination
              [size]="'sm'"
              [total]="pager.total"
              [(pageSize)]="pager.pageSize"
              [(pageIndex)]="pager.pageIndex"
              [canViewTotal]="true"
              [canChangePageSize]="true"
              [canJumpPage]="true"
              [maxItems]="5"
              (pageIndexChange)="onPageChange($event)"
              (pageSizeChange)="onSizeChange($event)"
            >
            </d-pagination>
          </div>
        </div>
      </da-col-item>
    </da-layout-row>
  </div>
</div>

<ng-template #EditorTemplate>

</ng-template>

