<div class="da-list-wrap">
    <div class="da-content-banner">
      <d-breadcrumb>
        <d-breadcrumb-item
          ><a routerLink="/">Home</a></d-breadcrumb-item
        >
        <d-breadcrumb-item>Quản lý</d-breadcrumb-item>
        <d-breadcrumb-item>{{ archive_fonts ? archive_fonts.archive_fonts_note_l : 'Quản lý hồ sơ đề xuất' }}</d-breadcrumb-item>
      </d-breadcrumb>
      <div class="da-content-banner-title">
        {{ archive_fonts ? archive_fonts.archive_fonts_note_l : 'Quản lý hồ sơ đề xuát' }}
      </div>
      <div>Danh sách hồ sơ đề xuất</div>
    </div>
    <div class="da-content-wrapper">
      <da-layout-row [daGutter]="[24, 24]">
        <da-col-item [daSpan]="24" [daXs]="24">
          <div class="da-list-container">
            <div class="da-list-header">
              <div class="da-common-search">
                <div class="da-left">
                  <d-search
                      [size]="'sm'"
                      (searchFn)="getList()"
                      [(ngModel)]="_search.keyword"
                      class="da-inline"
                      [placeholder]="'Tìm tên hồ sơ'"
                      style="width: 350px"
                    ></d-search>
                    <d-select style="display: inline-block; margin-left:10px"
                    [options]="active_flag"
                    [isSearch]="true"
                    [filterKey]="'name'"
                    [ngModel]="_search.select | parseSelect: 'id':active_flag"
                    (ngModelChange)="modelChange($event)"
                    [placeholder]="'Search'"
                  ></d-select>
                    <d-button class="btn btn-primary" *ngIf = "role_rcd != 2" (click)="addRow()" style="margin-left: 12px">Đề xuất</d-button>
                  </div>
              </div>
            </div>
            <br>
            <div class="list-content" dLoading [loading]="busy">
              <d-data-table
                #datatable
                [dataSource]="basicDataSource"
                [borderType]="searchForm.borderType"
                [size]="searchForm.size"
                [tableLayout]="searchForm.layout"
                [scrollable]="true"
              >
              <d-column  header="STT" [width]="'5%'">
                <d-cell>
                  <ng-template let-rowIndex="rowIndex">
                    {{ rowIndex+1 }}
                  </ng-template>
                </d-cell>
              </d-column>
      
                <d-column field="profile_number" header="Số hồ sơ" [width]="'5%'" style="color: crimson;">
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                     S  {{ cellItem }}
                    </ng-template>
                  </d-cell>
                </d-column>
                <d-column field="gear" header="Hộp số" [width]="'5%'">
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                     H {{ cellItem }}
                    </ng-template>
                  </d-cell>
                </d-column>
                <d-column field="profile_name_l" header="Tên hồ sơ" [width]="'30%'">
                  <d-cell>
                    <ng-template let-cellItem="cellItem" let-rowItem="rowItem">
                      <a href="/pages/PH1/documents/{{rowItem.profile_rcd}}" target="_blank" style="color: black">
                        <span [title]="cellItem" [style.width]="'100%'" >
                          <!-- <d-tag [tag]="'Epic'" [labelStyle]="'epic'"></d-tag> -->
                          {{ cellItem }}
                        </span>
                      </a>
                    </ng-template>
                  </d-cell>
                </d-column>
                <d-column field="year" header="Năm" [width]="'5%'">
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                      <d-tag [tag]="cellItem" [labelStyle]="cellItem"></d-tag>
                    </ng-template>
                  </d-cell>
                </d-column>
                <d-column field="from_date" header="Ngày bắt đầu" [width]="'8%'">
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                        {{ formatDateView(cellItem,true) }}
                    </ng-template>
                  </d-cell>
                </d-column>
                <d-column field="to_date" header="Ngày kết thúc" [width]="'8%'" style="display: none;">
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                        {{ formatDateView(cellItem,true) }}
                    </ng-template>
                  </d-cell>
                </d-column>
                <d-column field="profile_note_e" header="Ghi chú" [width]="'15%'">
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                      {{ cellItem }}
                    </ng-template>
                  </d-cell>
                </d-column>
                <d-column field="status" header="Trạng thái" [width]="'12%'">
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                      <span  [style]="cellItem ==1? 'color:green;' : cellItem == 3?'color:blue;':'color:red'" >
                        {{ getNameStatus(cellItem)  }}</span>
                    </ng-template>
                  </d-cell>
                </d-column>
                <d-column field="active_flag" header="Hiện trạng" [width]="'12%'">
                  <d-cell>
                    <ng-template let-cellItem="cellItem">
                      <span  [style]="cellItem ==1? 'color:green;' : cellItem == 3?'color:blue;':'color:red'" >
                        {{ getNameActiveFlag(cellItem)  }}</span>
                    </ng-template>
                  </d-cell>
                </d-column>
                <d-column field="Actions" header="Actions" [width]="'100px'" >
                  <d-cell>
                    <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                      <div class="btn-group over-flow-ellipsis">
                        <d-button *ngIf = "rowItem.active_flag == 1" icon="icon-edit" bsStyle="text-dark" title="edit" (click)="editRow(rowItem, rowIndex)"></d-button>
                        <d-button *ngIf = "rowItem.active_flag == 1" icon="icon-delete" bsStyle="text-dark" title="delete" (click)="deleteRow(rowItem.profile_rcd)"></d-button>
                        <d-button *ngIf = "rowItem.active_flag == 1" icon="icon-connect" bsStyle="text-dark" title="Xem tài liệu" (click)="getDocuments(rowItem.profile_rcd)"></d-button>
                        <d-button *ngIf = "role_rcd == 2 && rowItem.active_flag != 1" icon="icon-add-manual-use-case" bsStyle="text-dark" title="Duyệt hồ sơ" (click)="acceptOrCancel(rowItem, 1)"></d-button>
                        <d-button *ngIf = "role_rcd == 2 && rowItem.active_flag != 2" icon="icon-close" bsStyle="text-dark" title="Hủy hồ sơ" (click)="acceptOrCancel(rowItem, 2)"></d-button>
                        <!-- <d-button *ngIf = "role_rcd == 2" icon="icon-add-member" bsStyle="text-dark" title="Giới hạn người dùng" (click)="openModalPermission(rowItem)"></d-button> -->
                      </div>
                    </ng-template>
                  </d-cell>
                </d-column>
              </d-data-table>
            </div>
            <div class="da-list-footer">
              <d-pagination
                [size]="'sm'"
                [total]="pager.total"
                [(pageSize)]="pager.pageSize"
                [(pageIndex)]="pager.pageIndex"
                [canViewTotal]="true"
                [canChangePageSize]="true"
                [canJumpPage]="true"
                [maxItems]="5"
                (pageIndexChange)="onPageChange($event)"
                (pageSizeChange)="onSizeChange($event)"
              >
              </d-pagination>
            </div>
          </div>
        </da-col-item>
      </da-layout-row>
    </div>
  </div>
  <d-toast [value]="msgs" [style]="{ top: '20px' }"></d-toast>
  <ng-template #EditorTemplate>
    <da-admin-form [formConfig]="formConfig" [insert]="insert"  [formData]="formData" (submitted)="onSubmitted($event)" (canceled)="onCanceled()">
    </da-admin-form>
  </ng-template>
