<div class="da-list-wrap">
  <div class="da-content-banner">
    <d-breadcrumb>
      <d-breadcrumb-item
        ><a routerLink="/">{{ 'list.breadcrumb.home' | translate }}</a></d-breadcrumb-item
      >
      <d-breadcrumb-item>Báo cáo thống kê</d-breadcrumb-item>
      <d-breadcrumb-item>Báo cáo danh mục văn bản có trong loại hồ sơ</d-breadcrumb-item>
    </d-breadcrumb>
    <div class="da-content-banner-title">Báo cáo thống kê</div>
    <div>Báo cáo danh mục văn bản có trong loại hồ sơ</div>
  </div>

  <div class="da-content-wrapper">

    <da-layout-row [daGutter]="[24, 24]">
      <da-col-item [daSpan]="24">
        <div class="da-content-card da-analysis-line">
          <div class="da-content-title">
            Biểu đồ số lượng văn bản có trong loại hồ sơ
          </div>
          <d-echarts [options]="byProfileTypeOption" class="da-echarts-line"></d-echarts>
        </div>
      </da-col-item>
    </da-layout-row>

    <da-layout-row [daGutter]="[24, 24]">
      <da-col-item [daSpan]="24" [daXs]="24">
        <div class="da-list-container">
          <div class="da-list-header">
            <div class="da-header-left">
              <div class="da-header-item">
                <div class="da-header-item-label">Số/Ký hiệu hồ sơ:</div>
                <d-search
                  [size]="'sm'"
                  (searchFn)="search()"
                  [(ngModel)]="_search.profile_code"
                  class="da-inline"
                  name="profile_code_search"
                  [placeholder]="'Số/Ký hiệu hồ sơ'"
                ></d-search>
              </div>
              <div class="da-header-item">
                <div class="da-header-item-label">Số/Ký hiệu văn bản:</div>
                <d-search
                  [size]="'sm'"
                  (searchFn)="search()"
                  [(ngModel)]="_search.document_number"
                  class="da-inline"
                  name="document_number_search"
                  [placeholder]="'Số/Ký hiệu hồ sơ'"
                ></d-search>
              </div>
              <div class="da-header-item">
                <div class="da-header-item-label">Tên văn bản:</div>
                <d-search
                [size]="'sm'"
                (searchFn)="search()"
                [(ngModel)]="_search.document_name"
                class="da-inline"
                name="document_name_search"
                [placeholder]="'Tên hồ sơ'"
              ></d-search>
              </div>
              <div class="da-header-item">
                <div class="da-header-item-label">Loại hồ sơ:</div>
                <d-select [placeholder]="'--Tất cả--'" [filterKey]="'label'" [options]="profileTypeOptions" [allowClear]="true" [(ngModel)]="profileTypeCurrent" (ngModelChange)="search()"></d-select>
              </div>
            </div>
          </div>
          <br />
          <div class="list-content" dLoading [loading]="busy">
            <d-data-table
              #datatable
              [dataSource]="basicDataSource"
              [borderType]="searchForm.borderType"
              [size]="searchForm.size"
              [tableLayout]="searchForm.layout"
              [scrollable]="true"
            >
              <thead dTableHead>
                <tr dTableRow>
                  <th dHeadCell [style.width]="'50px'">#</th>
                  <th dHeadCell>Số/Ký hiệu hồ sơ</th>
                  <th dHeadCell>Số/Ký hiệu văn bản</th>
                  <th dHeadCell [style.width]="'350px'">Tên văn bản</th>
                  <th dHeadCell>Trích yếu nội dung</th>
                  <th dHeadCell>Ngày ban hành</th>
                  <th dHeadCell>Tác giả</th>
                  <th dHeadCell>Loại văn bản</th>
                  <th dHeadCell>Loại hồ sơ</th>
                  <th dHeadCell>Cơ quan ban hành</th>
                  <th dHeadCell>Tệp đính kèm</th>
                  <th dHeadCell>Trạng thái</th>
                </tr>
              </thead>
              <tbody dTableBody>
                <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                  <tr dTableRow>
                    <td dTableCell>{{ rowIndex + 1 }}</td>
                    <td dTableCell>
                      {{ rowItem.profile_code }}
                    </td>
                    <td dTableCell>
                      {{ rowItem.document_number }}
                    </td>
                    <td dTableCell>
                      {{ rowItem.document_name_l }}
                    </td>
                    <td dTableCell>
                      {{ rowItem.excerpt }}
                    </td>
                    <td dTableCell>
                      {{ rowItem.date }}
                    </td>
                    <td dTableCell>
                      {{ rowItem.author }}
                    </td>
                    <td dTableCell>
                      {{ rowItem.document_type_name_l }}
                    </td>
                    <td dTableCell>
                      {{ rowItem.profile_type_name }}
                    </td>
                    <td dTableCell>
                      {{ rowItem.agency_issued_name_l }}
                    </td>
                    <td dTableCell>
                      <p *ngFor="let d of rowItem.attachments_json">
                        {{ d.file_name }}
                      </p>
                    </td>
                    <td dTableCell>
                      {{ rowItem.status | profileStatus }}
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </d-data-table>
          </div>
          <div class="da-list-footer">
            <d-pagination
              [size]="'sm'"
              [total]="pager.total"
              [(pageSize)]="pager.pageSize"
              [(pageIndex)]="pager.pageIndex"
              [canViewTotal]="true"
              [canChangePageSize]="true"
              [canJumpPage]="true"
              [maxItems]="5"
              (pageIndexChange)="onPageChange($event)"
              (pageSizeChange)="onSizeChange($event)"
            >
            </d-pagination>
          </div>
        </div>
      </da-col-item>
    </da-layout-row>
  </div>
</div>

