<div class="da-list-wrap">
    <div class="da-content-banner">
      <d-breadcrumb>
        <d-breadcrumb-item
          ><a routerLink="/">{{ 'list.breadcrumb.home' | translate }}</a></d-breadcrumb-item
        >
        <d-breadcrumb-item>Quản lý</d-breadcrumb-item>
        <d-breadcrumb-item>Quản lý hồ sơ tài liệu</d-breadcrumb-item>
      </d-breadcrumb>
      
      
    </div>
    
    <div class="da-content-wrapper">
      <da-layout-row [daGutter]="[24, 24]">
        <da-col-item [daSpan]="24" [daXs]="24">
          <div class="da-list-container">
            <div class="da-list-header">
              <div class="da-common-search">
                
                <div class="da-right" style="margin-left:1400px">
                    <d-search
                    [size]="'sm'"
                    (searchFn)="getList()"
                    [(ngModel)]="_search.keyword"
                    class="da-inline"
                    [placeholder]="'Tìm tên trường dữ liệu'"
                    ></d-search>
                </div>
                
              </div>
            </div>
            <br>
            <!-- <div style="width: 100%; height: 50%;" id="pdf" >
              <input (change)="upload($event)"  type="file" />
              <pdf-viewer *ngIf="pdfSrc" [src]="pdfSrc" [render-text]="true" [original-size]="true" style="display: block; width: 50%; height: 100%;"></pdf-viewer>
            </div> -->
          </div>
        </da-col-item>
      </da-layout-row>
    </div>
  </div>
  
  
    
  <ng-template #EditorTemplate>
    <da-admin-form [formConfig]="formConfig" [insert]="insert"  [formData]="formData" (submitted)="onSubmitted($event)" (canceled)="onCanceled()">
    </da-admin-form>
  </ng-template>
  
  
  
