<div class="da-list-wrap">
  <div class="da-content-banner">
    <d-breadcrumb>
      <d-breadcrumb-item
        ><a routerLink="/">{{ 'list.breadcrumb.home' | translate }}</a></d-breadcrumb-item
      >
      <d-breadcrumb-item>Báo cáo thống kê</d-breadcrumb-item>
      <d-breadcrumb-item>Báo cáo hồ sơ lưu trữ</d-breadcrumb-item>
    </d-breadcrumb>
    <div class="da-content-banner-title">Báo cáo thống kê</div>
    <div>Báo cáo hồ sơ lưu trữ</div>
  </div>
  <div class="da-content-wrapper">

    <da-layout-row [daGutter]="[24, 24]">
      <da-col-item [daSpan]="24" [daXs]="24">


        <div class="da-list-container">
          <d-echarts (chartReady)="getPieChart($event)" [options]="serviceData" height="20rem" width="80%"></d-echarts>
        </div>
        <div class="da-content-card" style="text-align:center">
          <div class="da-content-title">
            Biểu đồ lưu trữ hồ sơ theo ngày thành lập
          </div>
          </div>

      </da-col-item>
    </da-layout-row>

    <da-layout-row [daGutter]="[24, 24]">
      <da-col-item [daSpan]="24" [daXs]="24">
        <div class="da-list-container">
          <div class="da-list-header">
            <div class="da-header-left">
              <div class="da-header-item">
                <div class="da-header-item-label">Số hồ sơ:</div>
                <d-search
                  [size]="'sm'"
                  (searchFn)="getList()"
                  [(ngModel)]="_search.profile_number"
                  class="da-inline"
                  [placeholder]="'Số hồ sơ'"
                ></d-search>
              </div>
              <div class="da-header-item">
                <div class="da-header-item-label">Tên hồ sơ:</div>
                <d-search
                  [size]="'sm'"
                  (searchFn)="getList()"
                  [(ngModel)]="_search.profile_name"
                  class="da-inline"
                  [placeholder]="'Tên hồ sơ'"
                ></d-search>
              </div>
              <div class="da-header-item">
                <div class="da-header-item-label">Ngày lập hồ sơ:</div>
                <section style="display: flex;">
                  <div class="col-md-6" style="margin-right: 10px">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="devui-input-group devui-dropdown-origin">
                          <input
                            class="devui-input devui-form-control"
                            placeholder="Ngày lập hồ sơ"
                            name="dp"
                            [(ngModel)]="_search.from_date"
                            (click)="datePicker1.toggle()"
                            autocomplete="off"
                            dDatepicker
                            appendToBody
                            #datePicker1="datepicker"
                            (selectedDateChange)="getList()"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <div class="da-header-item">
                <div class="da-header-item-label">Ngày kết thúc hồ sơ:</div>
                <section style="display: flex;">
                  <div class="col-md-6" style="margin-right: 10px">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="devui-input-group devui-dropdown-origin">
                          <input
                            class="devui-input devui-form-control"
                            placeholder="Ngày kết thúc hồ sơ"
                            name="dp"
                            [(ngModel)]="_search.to_date"
                            (click)="datePicker2.toggle()"
                            autocomplete="off"
                            dDatepicker
                            appendToBody
                            #datePicker2="datepicker"
                            (selectedDateChange)="getList()"
                          />
                          <div *ngIf="_search.to_date" class="devui-input-group-addon close-icon-wrapper" (click)="datePicker2.clearAll()">
                            <i class="icon icon-close"></i>
                          </div>
                          <div class="devui-input-group-addon" (click)="datePicker1.toggle()">
                            <i class="icon icon-calendar"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <div class="header-right">
              <d-button (click)="reset()">Reset</d-button>
            </div>
          </div>
          <br />
          <div class="list-content" dLoading [loading]="busy">
            <d-data-table
              #datatable
              [dataSource]="basicDataSource"
              [borderType]="searchForm.borderType"
              [size]="searchForm.size"
              [tableLayout]="searchForm.layout"
              [scrollable]="true"
            >
              <d-column header="STT" [width]="'100px'">
                <d-cell>
                  <ng-template let-rowIndex="rowIndex">
                    {{ rowIndex + 1 }}
                  </ng-template>
                </d-cell>
              </d-column>
              <d-column field="profile_number" header="Số hồ sơ" [width]="'100px'">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    {{ cellItem }}
                  </ng-template>
                </d-cell>
              </d-column>
              <d-column field="profile_name" header="Tên hồ sơ">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    {{ cellItem }}
                  </ng-template>
                </d-cell>
              </d-column>
              <d-column field="from_date" header="Ngày lập hồ sơ" [width]="'100px'">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    {{ cellItem | date : 'MM/dd/yyyy' }}
                  </ng-template>
                </d-cell>
              </d-column>
              <d-column field="to_date" header="Ngày kết thúc hồ sơ" [width]="'100px'">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    {{ cellItem | date : 'MM/dd/yyy' }}
                  </ng-template>
                </d-cell>
              </d-column>
            </d-data-table>
          </div>
          <div class="da-list-footer">
            <d-pagination
              [size]="'sm'"
              [total]="pager.total"
              [(pageSize)]="pager.pageSize"
              [(pageIndex)]="pager.pageIndex"
              [canViewTotal]="true"
              [canChangePageSize]="true"
              [canJumpPage]="true"
              [maxItems]="5"
              (pageIndexChange)="onPageChange($event)"
              (pageSizeChange)="onSizeChange($event)"
            >
            </d-pagination>
          </div>
        </div>
      </da-col-item>
    </da-layout-row>
  </div>
</div>
