<div class="da-list-wrap">
    <div class="da-content-banner">
      <d-breadcrumb>
        <d-breadcrumb-item
          ><a routerLink="/">{{ 'list.breadcrumb.home' | translate }}</a></d-breadcrumb-item
        >
        <d-breadcrumb-item>Quản lý</d-breadcrumb-item>
        <d-breadcrumb-item>Quản lý biên bản bàn giao hồ sơ</d-breadcrumb-item>
      </d-breadcrumb>
      <div class="da-content-banner-title">
        Quản lý biên bản bàn giao hồ sơ
      </div>
      <div>Lập biên bản bàn giao hủy tài liệu</div>
    </div>
    <div class="da-content-wrapper">
      <form dForm #eForm>
        <p style="font-weight: bold; margin-bottom: 30px">Thông tin biên bản</p>
        <d-form-item>
          <d-form-label [required]="true">Số ký hiệu văn bản:</d-form-label>
          <d-form-control>
            <input
              dTextInput
              [name]="'product_name'"
              [placeholder]="'Số ký hiệu văn bản'"
              [(ngModel)]="handoverRecordCancelled.handover_record_cancelled_rcd"
              autocomplete="off"
              maxlength="500"
              [dValidateRules]="[{ required: true, message: 'Không được để trống' }]"
            />
          </d-form-control>
        </d-form-item>
        <d-form-item>
          <d-form-label [required]="true">Tên biên bản:</d-form-label>
          <d-form-control>
            <input
              dTextInput
              [name]="'product_name'"
              [placeholder]="'Tên biên bản'"
              [(ngModel)]="handoverRecordCancelled.handover_record_cancelled_rcd"
              autocomplete="off"
              maxlength="500"
              [dValidateRules]="[{ required: true, message: 'Không được để trống' }]"
            />
          </d-form-control>
        </d-form-item>
        <d-form-item>
          <d-form-label [required]="true">Địa điểm bàn giao:</d-form-label>
          <d-form-control>
            <input
              dTextInput
              [name]="'product_name'"
              [placeholder]="'Địa điểm bàn giao'"
              [(ngModel)]="handoverRecordCancelled.handover_record_cancelled_rcd"
              autocomplete="off"
              maxlength="500"
              [dValidateRules]="[{ required: true, message: 'Không được để trống' }]"
            />
          </d-form-control>
        </d-form-item>
        <d-form-item>
          <d-form-label [required]="true">Lý do bàn giao:</d-form-label>
          <d-form-control>
            <input
              dTextInput
              [name]="'product_name'"
              [placeholder]="'Lý do bàn giao'"
              [(ngModel)]="handoverRecordCancelled.handover_record_cancelled_rcd"
              autocomplete="off"
              maxlength="500"
              [dValidateRules]="[{ required: true, message: 'Không được để trống' }]"
            />
          </d-form-control>
        </d-form-item>
        <d-form-item>
          <d-form-label [required]="true">Ghi chú:</d-form-label>
          <d-form-control>
            <input
              dTextInput
              [name]="'product_name'"
              [placeholder]="'Ghi chú'"
              [(ngModel)]="handoverRecordCancelled.handover_record_cancelled_rcd"
              autocomplete="off"
              maxlength="500"
              [dValidateRules]="[{ required: true, message: 'Không được để trống' }]"
            />
          </d-form-control>
        </d-form-item>
        <d-form-item>
          <d-form-label [required]="true">Người được giao:</d-form-label>
          <d-form-control>
            <d-select
              [options]="users"
              [(ngModel)]="handoverRecordCancelled.handover_record_cancelled_rcd"
              [name]="'subcategory_id'"
              [filterKey]="'subcategory_name'"
              [placeholder]="'Người duyệt'"
              [dValidateRules]="[{ required: true, message: 'Không được để trống' }]"
            >
            </d-select>
          </d-form-control>
        </d-form-item>
        <p style="font-weight: bold; margin-bottom: 30px">Danh sách hồ sơ hết giá trị</p>
        <div  style="margin-bottom: 15px">
          <d-button (click)="addProfileToHandover()" style="margin-right: 8px">Bổ sung</d-button>
          <d-button (click)="reset()" bsStyle="common" style="margin-right: 8px">Loại bỏ</d-button>
        </div>
     
        <div class="list-content" dLoading [loading]="busy">
          <d-data-table
            #datatable
            [dataSource]="basicDataSource"
            [borderType]="searchForm.borderType"
            [size]="searchForm.size"
            [tableLayout]="searchForm.layout"
            [scrollable]="true"
          >
            <thead dTableHead [checkable]="true">
              <tr dTableRow>
                <th dHeadCell>#</th>
                <th dHeadCell>Số ký hiệu hồ sơ</th>
                <th dHeadCell>Tiêu đề hồ sơ</th>
                <th dHeadCell>Lý do hủy</th>
                <th dHeadCell>Tác vụ</th>
              </tr>
            </thead>
            <tbody dTableBody>
              <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex" let-nestedIndex="nestedIndex">
                <tr dTableRow [ngClass]="{ 'table-row-selected': rowItem.$checked }">
                  <td dTableCell class="devui-checkable-cell">
                    <d-checkbox
                      [ngModel]="rowItem.$checked"
                      [halfchecked]="rowItem.$halfChecked"
                      [disabled]="rowItem.$checkDisabled"
                      dTooltip
                      [content]="rowItem.$checkBoxTips"
                      [position]="['top', 'right', 'bottom', 'left']"
                      [showAnimation]="false"
                    >
                    </d-checkbox>
                  </td>
                  <td dTableCell>{{ rowIndex + 1 }}</td>
                  <td dTableCell>
                    <img
                      style="width: 60px; height: 100%; border-radius: 2px"
                      src=""
                      alt=""
                    />
                  </td>
                  <td dTableCell>
                    {{ rowItem.product_name }}
                  </td>
                  <td dTableCell>
                    {{ rowItem.colors.length }} Màu (<span *ngFor="let cl of rowItem.colors; index as i">
                      {{ cl.color_name + (i == rowItem.colors.length - 1 ? '' : ',') }} </span
                    >), {{ rowItem.colors[0].sizes.length }} Size
                  </td>
                  <td dTableCell>
                    <div class="btn-group over-flow-ellipsis">
                      <d-button
                        icon="icon-edit"
                        bsStyle="danger"
                        bsSize="xs"
                        title="edit"
                        shape="circle"
                        style="margin-right: 8px"
                        (btnClick)="editRow(rowIndex, rowItem.product_id)"
                      ></d-button>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </d-data-table>
        </div>
      </form>
    </div>
</div>

<div style="text-align: center; margin: 30px 0">
  <d-button style="margin-right: 8px" dFormSubmit [dFormSubmitData]="'submit-button'">Lưu</d-button>
</div>

<ng-template #EditorTemplate>
  <form dForm #eForm>
    <div style="margin-bottom: 15px; display: flex;">
      <div style="display: flex; align-items: center;">
        <div class="da-header-item-label">Số ký hiệu hồ sơ:</div>
        <d-search
          [size]="'sm'"
          (searchFn)="getList()"
          class="da-inline"
          [placeholder]="'Số ký hiệu hồ sơ:'"
        ></d-search>
      </div>
      <div style="display: flex; align-items: center; margin-left: 15px;">
        <div class="da-header-item-label">Tiêu đề hồ sơ:</div>
        <d-search
          [size]="'sm'"
          (searchFn)="getList()"
          class="da-inline"
          [placeholder]="'Tiêu đề hồ sơ:'"
        ></d-search>
      </div>
    </div>
    <d-data-table
    #datatable
    [dataSource]="basicDataSource"
    [borderType]="searchForm.borderType"
    [size]="searchForm.size"
    [tableLayout]="searchForm.layout"
    [scrollable]="true"
  >
    <thead dTableHead [checkable]="true">
      <tr dTableRow>
        <th dHeadCell>#</th>
        <th dHeadCell>Số ký hiệu hồ sơ</th>
        <th dHeadCell>Tiêu đề hồ sơ</th>
        <th dHeadCell>Lý do hủy</th>
        <th dHeadCell>Tác vụ</th>
      </tr>
    </thead>
    <tbody dTableBody>
      <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex" let-nestedIndex="nestedIndex">
        <tr dTableRow [ngClass]="{ 'table-row-selected': rowItem.$checked }">
          <td dTableCell class="devui-checkable-cell">
            <d-checkbox
              [ngModel]="rowItem.$checked"
              [halfchecked]="rowItem.$halfChecked"
              [disabled]="rowItem.$checkDisabled"
              dTooltip
              [content]="rowItem.$checkBoxTips"
              [position]="['top', 'right', 'bottom', 'left']"
              [showAnimation]="false"
            >
            </d-checkbox>
          </td>
          <td dTableCell>{{ rowIndex + 1 }}</td>
          <td dTableCell>
            <img
              style="width: 60px; height: 100%; border-radius: 2px"
              src=""
              alt=""
            />
          </td>
          <td dTableCell>
            {{ rowItem.product_name }}
          </td>
          <td dTableCell>
            {{ rowItem.colors.length }} Màu (<span *ngFor="let cl of rowItem.colors; index as i">
              {{ cl.color_name + (i == rowItem.colors.length - 1 ? '' : ',') }} </span
            >), {{ rowItem.colors[0].sizes.length }} Size
          </td>
          <td dTableCell>
            <div class="btn-group over-flow-ellipsis">
              <d-button
                icon="icon-edit"
                bsStyle="danger"
                bsSize="xs"
                title="edit"
                shape="circle"
                style="margin-right: 8px"
                (btnClick)="editRow(rowIndex, rowItem.product_id)"
              ></d-button>
            </div>
          </td>
        </tr>
      </ng-template>
    </tbody>
    </d-data-table>
    <d-form-operation class="da-form-operation" style="text-align: right; margin-top: 30px;">
      <d-button style="margin-right: 8px" dFormSubmit [dFormSubmitData]="'submit-button'">Ok</d-button>
      <d-button bsStyle="common" (click)="onCanceled()">Hủy</d-button>
    </d-form-operation>
  </form>
</ng-template>