<da-layout-row [daGutter]="[24, 24]">
  <da-col-item [daSpan]="24">
    <div class="da-content-card">
      <div class="da-content-title" style="display: flex">
        <span>Thống kê hồ sơ Sở KHCN</span> 
      </div>
      <d-echarts
        [options]="_dataChart"
        height="20rem"
        class="da-historgram"
      ></d-echarts>
    </div>
  </da-col-item>
</da-layout-row>
<da-layout-row [daGutter]="[24, 24]">
  <da-col-item [daSpan]="24">
    <div class="da-content-card">
      <div class="da-content-title" style="display: flex">
        <span>Thống kê hồ sơ theo phòng ban</span> 
        <select class="devui-form-control" [(ngModel)]="_search.year" (change) = "getData()" name="" id="" style="width : 20% !important; margin-left: 10px;">
          <option class="devui-form-control devui-dropdown-item" value="0">Tất cả</option>
          <option class="devui-form-control devui-dropdown-item" *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>
      <d-echarts
        [options]="dataChart"
        height="20rem"
        class="da-historgram"
      ></d-echarts>
    </div>
  </da-col-item>
</da-layout-row>
