<div class="da-list-wrap">
  <div class="da-content-banner">
    <d-breadcrumb>
      <d-breadcrumb-item
        ><a routerLink="/">{{ 'list.breadcrumb.home' | translate }}</a></d-breadcrumb-item
      >
      <d-breadcrumb-item>Báo cáo thống kê</d-breadcrumb-item>
      <d-breadcrumb-item>Báo cáo hồ sơ lưu trữ</d-breadcrumb-item>
    </d-breadcrumb>
    <div class="da-content-banner-title">Báo cáo thống kê</div>
    <div>Thống kê số lượng tài liệu theo năm</div>
  </div>

  <div class="da-content-wrapper">
    <da-layout-row [daGutter]="[24, 24]">
      <da-col-item [daSpan]="24" [daXs]="24">
       <section>
        <div class="row">
          <div class="col-md-6">
            <div class="devui-input-group devui-dropdown-origin">
              <input
                [mode]="'year'"
                [dateFormat]="'y'"
                class="devui-input devui-form-control"
                placeholder="year"
                (click)="datePicker1.toggle()"
                name="dp"
                [(ngModel)]="selectedDate1"
                autocomplete="off"
                dDatepicker
                #datePicker1="datepicker"
                (selectedDateChange)="getValue($event)"
              />
              <div *ngIf="selectedDate1" class="devui-input-group-addon close-icon-wrapper" (click)="datePicker1.clearAll()">
                <i class="icon icon-close"></i>
              </div>
              <div class="devui-input-group-addon" (click)="datePicker1.toggle()">
                <i class="icon icon-calendar"></i>
              </div>
            </div>
          </div>
        </div>
       </section>
      </da-col-item>
    </da-layout-row>

    <div class="da-list-container" style="text-align:center">
      <d-echarts (chartReady)="getPieChart($event)" [options]="serviceData" height="20rem" width="80%"></d-echarts>
    </div>
    <!-- <div class="da-content-card" style="text-align:center">
      <div class="da-content-title">
        Biểu đồ thống kê số lượng tài liệu theo năm
      </div> 
      </div> -->
  </div>
  <div class="da-content-wrapper">

    <da-layout-row [daGutter]="[24, 24]">
      <da-col-item [daSpan]="24" [daXs]="24">
        <div class="da-list-container">
          <div class="da-list-header">

          </div>
          <br />
          <div class="list-content" dLoading [loading]="busy">
            <d-data-table
              #datatable
              [dataSource]="basicDataSource"
              [borderType]="searchForm.borderType"
              [size]="searchForm.size"
              [tableLayout]="searchForm.layout"
              [scrollable]="true"
            >
              <d-column header="STT" [width]="'100px'">
                <d-cell>
                  <ng-template let-rowIndex="rowIndex">
                    {{ rowIndex + 1 }}
                  </ng-template>
                </d-cell>
              </d-column>
              <d-column field="document_number" header="Số tài liệu" [width]="'100px'">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    {{ cellItem }}
                  </ng-template>
                </d-cell>
              </d-column>
              <d-column field="document_name" header="Tên tài liệu">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    {{ cellItem }}
                  </ng-template>
                </d-cell>
              </d-column>
              <d-column field="author" header="Tác giả" [width]="'100px'">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    {{ cellItem | date : 'MM/dd/yyyy' }}
                  </ng-template>
                </d-cell>
              </d-column>
              <d-column field="number_of_pager" header="Số trang" [width]="'100px'">
                <d-cell>
                  <ng-template let-cellItem="cellItem">
                    {{ cellItem | date : 'MM/dd/yyy' }}
                  </ng-template>
                </d-cell>
              </d-column>
            </d-data-table>
          </div>
          <div class="da-list-footer">
            <d-pagination
              [size]="'sm'"
              [total]="pager.total"
              [(pageSize)]="pager.pageSize"
              [(pageIndex)]="pager.pageIndex"
              [canViewTotal]="true"
              [canChangePageSize]="true"
              [canJumpPage]="true"
              [maxItems]="5"
              (pageIndexChange)="onPageChange($event)"
              (pageSizeChange)="onSizeChange($event)"
            >
            </d-pagination>
          </div>
        </div>
      </da-col-item>
    </da-layout-row>
  </div>
</div>

